.header {
  display: flex;
  padding: 0 7dvi;
  /* color: #2e2f38; */
  font-size: 1rem;
  color: #6a6d82;
  align-items: center;
  gap: 50px;
}
.logo {
  inline-size: 5rem;
}
.link {
  color: inherit;
}
.lang {
  margin-inline-start: auto;
}
