.header {
  display: flex;
  padding: 0 7dvi;
  font-size: 1rem;
  color: #6a6d82;
  align-items: center;
  gap: 3rem;
}
.logo {
  inline-size: 5rem;
}
.link {
  color: inherit;
  padding: 0.5rem;
}
.lang {
  margin-inline-start: auto;
  display: flex;
  align-items: center;
}
